gsrc/wsi/remote/gw/webservice/bc/bc900/BillingSummaryAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI" name="BillingSummaryAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary" xmlns:pogo10="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod" xmlns:pogo2="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings" xmlns:pogo3="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord" xmlns:pogo4="http://guidewire.com/bc/typekey" xmlns:pogo5="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary" xmlns:pogo6="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary" xmlns:pogo7="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus" xmlns:pogo8="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo" xmlns:pogo9="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:element name="retrieveAccountBillingSummary">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveAccountBillingSummaryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:BCPCAccountBillingSummary" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="retrievePolicyBillingSummary">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="termNumber" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePolicyBillingSummaryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo6:PolicyBillingSummary" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePeriodsBilledToAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePeriodsBilledToAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo10:DisplayablePolicyPeriod" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePeriodsForAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePeriodsForAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo10:DisplayablePolicyPeriod" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveInvoicesForAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrieveInvoicesForAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo8:PCInvoiceInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:complexType name="BCPCAccountBillingSummary" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="AccountName" type="xs:string" minOccurs="0"/>
          <xs:element name="AccountNameKanji" type="xs:string" minOccurs="0"/>
          <xs:element name="BilledOutstandingCurrent" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="BilledOutstandingPastDue" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="BilledOutstandingTotal" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="BillingSettings" type="pogo2:AccountBillingSettings" minOccurs="0"/>
          <xs:element name="CollateralChargesBilled" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="CollateralChargesPastDue" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="CollateralChargesUnbilled" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="CollateralHeld" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="CollateralRequirement" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="Currency" type="pogo4:Currency" minOccurs="0"/>
          <xs:element name="Delinquent" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PrimaryPayer" type="pogo5:ContactSummary" minOccurs="0"/>
          <xs:element name="UnappliedFundsTotal" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="UnbilledTotal" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="AccountBillingSettings" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="InvoiceDeliveryMethod" type="xs:string" minOccurs="0"/>
          <xs:element name="PaymentInstrumentRecord" type="pogo3:PaymentInstrumentRecord" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="PaymentInstrumentRecord" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="Detail" type="xs:string" minOccurs="0"/>
          <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
          <xs:element name="OneTime" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PaymentMethod" type="pogo4:PaymentMethod" minOccurs="0"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="Token" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:simpleType name="PaymentMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ach"/>
          <xs:enumeration value="cash"/>
          <xs:enumeration value="check"/>
          <xs:enumeration value="creditcard"/>
          <xs:enumeration value="directcredit_acc"/>
          <xs:enumeration value="directdebit_acc"/>
          <xs:enumeration value="misc"/>
          <xs:enumeration value="other_acc"/>
          <xs:enumeration value="responsive"/>
          <xs:enumeration value="accountunapplied"/>
          <xs:enumeration value="producerunapplied"/>
          <xs:enumeration value="wire"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="nzd"/>
          <xs:enumeration value="usd"/>
          <xs:enumeration value="eur"/>
          <xs:enumeration value="gbp"/>
          <xs:enumeration value="cad"/>
          <xs:enumeration value="aud"/>
          <xs:enumeration value="rub"/>
          <xs:enumeration value="jpy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="ContactSummary" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="Address" type="xs:string" minOccurs="0"/>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="Phone" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="PolicyBillingSummary" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="AltBillingACCId" type="xs:string" minOccurs="0"/>
          <xs:element name="AltBillingAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="Archived" type="xs:boolean" minOccurs="0"/>
          <xs:element name="BillingStatus" type="pogo7:DisplayableBillingStatus" minOccurs="0"/>
          <xs:element name="CurrentOutstanding" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="DepositRequirement" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="InvoiceStream" type="xs:string" minOccurs="0"/>
          <xs:element name="Invoices" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Entry" type="pogo8:PCInvoiceInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Paid" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="PaymentPlanName" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyTermInfos" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Entry" type="pogo9:PolicyTermInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Retrieved" type="xs:boolean" minOccurs="0"/>
          <xs:element name="TotalCharges" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="WrittenOff" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="DisplayableBillingStatus" gw:deprecated="900 inter-app integration packages will be removed in BC11." xmlns:gw="http://guidewire.com/xsd">
        <xs:sequence>
          <xs:element name="BillingMethodCode" type="xs:string" minOccurs="0"/>
          <xs:element name="Delinquent" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PastDue" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="TotalBilled" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="Unbilled" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="PCInvoiceInfo" gw:deprecated="900 inter-app integration packages will be removed in BC11.">
        <xs:sequence>
          <xs:element name="Amount" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="Billed" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="InvoiceDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="InvoiceDueDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="InvoiceStream" type="xs:string" minOccurs="0"/>
          <xs:element name="Paid" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="PaidStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="PastDue" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
          <xs:element name="Status" type="xs:string" minOccurs="0"/>
          <xs:element name="Unpaid" type="xs:string" minOccurs="0" gw:type="gw.pl.currency.MonetaryAmount"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="PolicyTermInfo" gw:deprecated="900 inter-app integration packages will be removed in BC11.">
        <xs:sequence>
          <xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="TermNumber" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayablePolicyPeriod" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyTermInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PCInvoiceInfo"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/DisplayableBillingStatus"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/PolicyBillingSummary"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/ContactSummary"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc900/PaymentInstrumentRecord"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/AccountBillingSettings"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/policycenter/bc900/BCPCAccountBillingSummary"/>
      <xs:complexType name="DisplayablePolicyPeriod" gw:deprecated="900 inter-app integration packages will be removed in BC11.">
        <xs:sequence>
          <xs:element name="AltBillingACCId" type="xs:string" minOccurs="0"/>
          <xs:element name="AltBillingAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="BillingStatus" type="pogo7:DisplayableBillingStatus" minOccurs="0"/>
          <xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="InvoiceStream" type="xs:string" minOccurs="0"/>
          <xs:element name="OwningAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="PCPolicyPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="Product" type="xs:string" minOccurs="0"/>
          <xs:element name="TermNumber" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="BillingSummaryAPIPortType">
    <wsdl:operation name="retrieveAccountBillingSummary">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in BC11.</wsdl:documentation>
      <wsdl:input name="retrieveAccountBillingSummary" message="tns:retrieveAccountBillingSummary"/>
      <wsdl:output name="retrieveAccountBillingSummaryResponse" message="tns:retrieveAccountBillingSummaryResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicyBillingSummary">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in BC11.</wsdl:documentation>
      <wsdl:input name="retrievePolicyBillingSummary" message="tns:retrievePolicyBillingSummary"/>
      <wsdl:output name="retrievePolicyBillingSummaryResponse" message="tns:retrievePolicyBillingSummaryResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsBilledToAccount">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in BC11.</wsdl:documentation>
      <wsdl:input name="retrievePeriodsBilledToAccount" message="tns:retrievePeriodsBilledToAccount"/>
      <wsdl:output name="retrievePeriodsBilledToAccountResponse" message="tns:retrievePeriodsBilledToAccountResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsForAccount">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in BC11.</wsdl:documentation>
      <wsdl:input name="retrievePeriodsForAccount" message="tns:retrievePeriodsForAccount"/>
      <wsdl:output name="retrievePeriodsForAccountResponse" message="tns:retrievePeriodsForAccountResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoicesForAccount">
      <wsdl:documentation>@deprecated: 900 inter-app integration packages will be removed in BC11.</wsdl:documentation>
      <wsdl:input name="retrieveInvoicesForAccount" message="tns:retrieveInvoicesForAccount"/>
      <wsdl:output name="retrieveInvoicesForAccountResponse" message="tns:retrieveInvoicesForAccountResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingSummaryAPISoap12Binding" type="tns:BillingSummaryAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="retrieveAccountBillingSummary">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrieveAccountBillingSummary">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveAccountBillingSummaryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicyBillingSummary">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrievePolicyBillingSummary">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePolicyBillingSummaryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsBilledToAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrievePeriodsBilledToAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePeriodsBilledToAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsForAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrievePeriodsForAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePeriodsForAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoicesForAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrieveInvoicesForAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveInvoicesForAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillingSummaryAPISoap11Binding" type="tns:BillingSummaryAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="retrieveAccountBillingSummary">
      <soap11:operation style="document"/>
      <wsdl:input name="retrieveAccountBillingSummary">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveAccountBillingSummaryResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicyBillingSummary">
      <soap11:operation style="document"/>
      <wsdl:input name="retrievePolicyBillingSummary">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePolicyBillingSummaryResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsBilledToAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="retrievePeriodsBilledToAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePeriodsBilledToAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePeriodsForAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="retrievePeriodsForAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePeriodsForAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoicesForAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="retrieveInvoicesForAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveInvoicesForAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingSummaryAPI">
    <wsdl:port name="BillingSummaryAPISoap12Port" binding="tns:BillingSummaryAPISoap12Binding">
      <soap12:address location="http://localhost:8580/bc/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI"/>
    </wsdl:port>
    <wsdl:port name="BillingSummaryAPISoap11Port" binding="tns:BillingSummaryAPISoap11Binding">
      <soap11:address location="http://localhost:8580/bc/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI/soap11"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/policycenter/bc900/BillingSummaryAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="retrieveAccountBillingSummary">
    <wsdl:part name="parameters" element="tns:retrieveAccountBillingSummary"/>
  </wsdl:message>
  <wsdl:message name="retrieveAccountBillingSummaryResponse">
    <wsdl:part name="parameters" element="tns:retrieveAccountBillingSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="retrievePolicyBillingSummary">
    <wsdl:part name="parameters" element="tns:retrievePolicyBillingSummary"/>
  </wsdl:message>
  <wsdl:message name="retrievePolicyBillingSummaryResponse">
    <wsdl:part name="parameters" element="tns:retrievePolicyBillingSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="retrievePeriodsBilledToAccount">
    <wsdl:part name="parameters" element="tns:retrievePeriodsBilledToAccount"/>
  </wsdl:message>
  <wsdl:message name="retrievePeriodsBilledToAccountResponse">
    <wsdl:part name="parameters" element="tns:retrievePeriodsBilledToAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="retrievePeriodsForAccount">
    <wsdl:part name="parameters" element="tns:retrievePeriodsForAccount"/>
  </wsdl:message>
  <wsdl:message name="retrievePeriodsForAccountResponse">
    <wsdl:part name="parameters" element="tns:retrievePeriodsForAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveInvoicesForAccount">
    <wsdl:part name="parameters" element="tns:retrieveInvoicesForAccount"/>
  </wsdl:message>
  <wsdl:message name="retrieveInvoicesForAccountResponse">
    <wsdl:part name="parameters" element="tns:retrieveInvoicesForAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>