gsrc/wsi/local/nz/co/acc/plm/integration/webservice/address/AddressAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for nz.co.acc.plm.integration.webservice.address.AddressAPI web service -->
<wsdl:definitions targetNamespace="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/address/AddressAPI" name="AddressAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/address/AddressAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/address/AddressAPI" elementFormDefault="qualified" xmlns:imported="http://guidewire.com/pc/gx/nz.co.acc.plm.integration.webservice.gxmodel.addressdatamodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/gx/nz.co.acc.plm.integration.webservice.gxmodel.addressdatamodel" schemaLocation="../../../../../../../../../nz/co/acc/plm/integration/webservice/gxmodel/AddressDataModel.gx"/>
      <!-- getAccountAddress(String, String) : AddressData -->
      <xs:element name="getAccountAddress">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="policyAddressType" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountAddressResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="imported:AddressData" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="AddressAPIPortType">
    <wsdl:operation name="getAccountAddress">
      <wsdl:input name="getAccountAddress" message="tns:getAccountAddress"/>
      <wsdl:output name="getAccountAddressResponse" message="tns:getAccountAddressResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressAPISoap12Binding" type="tns:AddressAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountAddress">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAccountAddress">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountAddressResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressAPISoap11Binding" type="tns:AddressAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountAddress">
      <soap11:operation style="document"/>
      <wsdl:input name="getAccountAddress">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountAddressResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressAPI">
    <wsdl:port name="AddressAPISoap12Port" binding="tns:AddressAPISoap12Binding">
      <soap12:address location="local:///nz/co/acc/plm/integration/webservice/address/AddressAPI"/>
    </wsdl:port>
    <wsdl:port name="AddressAPISoap11Port" binding="tns:AddressAPISoap11Binding">
      <soap11:address location="local:///nz/co/acc/plm/integration/webservice/address/AddressAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getAccountAddress">
    <wsdl:part name="parameters" element="tns:getAccountAddress"/>
  </wsdl:message>
  <wsdl:message name="getAccountAddressResponse">
    <wsdl:part name="parameters" element="tns:getAccountAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>