gsrc/nz/co/acc/plm/integration/files/outbound/wsc/outboundfilesapi/OutboundFilesAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/bc/ws/nz/co/acc/plm/integration/webservices/outbound/OutboundFilesAPI" name="OutboundFilesAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/bc/ws/nz/co/acc/plm/integration/webservices/outbound/OutboundFilesAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/nz/co/acc/plm/integration/webservices/outbound/OutboundFilesAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:element name="accountInfoChanged">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="accountInfoChangedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="OutboundFilesAPIPortType">
    <wsdl:operation name="accountInfoChanged">
      <wsdl:input name="accountInfoChanged" message="tns:accountInfoChanged"/>
      <wsdl:output name="accountInfoChangedResponse" message="tns:accountInfoChangedResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OutboundFilesAPISoap12Binding" type="tns:OutboundFilesAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="accountInfoChanged">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="accountInfoChanged">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="accountInfoChangedResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutboundFilesAPISoap11Binding" type="tns:OutboundFilesAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="accountInfoChanged">
      <soap11:operation style="document"/>
      <wsdl:input name="accountInfoChanged">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="accountInfoChangedResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutboundFilesAPI">
    <wsdl:port name="OutboundFilesAPISoap12Port" binding="tns:OutboundFilesAPISoap12Binding">
      <soap12:address location="http://localhost:8580/bc/ws/nz/co/acc/plm/integration/webservices/OutboundFilesAPI"/>
      <gwwsdl:address location="${bc}/ws/nz/co/acc/plm/integration/webservices/OutboundFilesAPI"/>
    </wsdl:port>
    <wsdl:port name="OutboundFilesAPISoap11Port" binding="tns:OutboundFilesAPISoap11Binding">
      <soap11:address location="http://localhost:8580/bc/ws/nz/co/acc/plm/integration/webservices/OutboundFilesAPI/soap11"/>
      <gwwsdl:address location="${bc}/ws/nz/co/acc/plm/integration/webservices/OutboundFilesAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="accountInfoChanged">
    <wsdl:part name="parameters" element="tns:accountInfoChanged"/>
  </wsdl:message>
  <wsdl:message name="accountInfoChangedResponse">
    <wsdl:part name="parameters" element="tns:accountInfoChangedResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>