gsrc/wsi/remote/gw/webservice/bc/bc_acc/AccountInvoiceModel.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://guidewire.com/bc/gx/nz.co.acc.plm.integration.webservices.gxmodel.accountinvoicemodel" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountInvoice" type="AccountInvoice" nillable="true" xmlns="http://guidewire.com/bc/gx/nz.co.acc.plm.integration.webservices.gxmodel.accountinvoicemodel"/>
  <xs:complexType name="AccountInvoice">
    <xs:sequence>
      <xs:element name="Account" minOccurs="0" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccountNumber" type="xs:string" minOccurs="0" nillable="true" gw:type="java.lang.String"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Product" type="xs:string" minOccurs="0" nillable="true" gw:type="java.lang.String"/>
      <xs:element name="PolicyNumber" type="xs:string" minOccurs="0" nillable="true" gw:type="java.lang.String"/>
    </xs:sequence>
    <xs:attribute name="action" type="xs:string" gw:type="gw.xml.xsd.ArrayAction"/>
  </xs:complexType>
</xs:schema>