gsrc/wsi/remote/gw/webservice/bc/bc_acc/BCAccountAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI" name="BCAccountAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:element name="getAccountRemainingUnsettledBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAccountRemainingUnsettledBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:decimal" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="BCAccountAPIPortType">
    <wsdl:operation name="getAccountRemainingUnsettledBalance">
      <wsdl:input name="getAccountRemainingUnsettledBalance" message="tns:getAccountRemainingUnsettledBalance"/>
      <wsdl:output name="getAccountRemainingUnsettledBalanceResponse" message="tns:getAccountRemainingUnsettledBalanceResponse"/>
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BCAccountAPISoap12Binding" type="tns:BCAccountAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountRemainingUnsettledBalance">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAccountRemainingUnsettledBalance">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountRemainingUnsettledBalanceResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BCAccountAPISoap11Binding" type="tns:BCAccountAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAccountRemainingUnsettledBalance">
      <soap11:operation style="document"/>
      <wsdl:input name="getAccountRemainingUnsettledBalance">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountRemainingUnsettledBalanceResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCAccountAPI">
    <wsdl:port name="BCAccountAPISoap12Port" binding="tns:BCAccountAPISoap12Binding">
      <soap12:address location="http://localhost:8580/bc/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI"/>
      <gwwsdl:address location="${bc}/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI"/>
    </wsdl:port>
    <wsdl:port name="BCAccountAPISoap11Port" binding="tns:BCAccountAPISoap11Binding">
      <soap11:address location="http://localhost:8580/bc/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI/soap11"/>
      <gwwsdl:address location="${bc}/ws/nz/co/acc/plm/integration/webservices/BCAccountAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getAccountRemainingUnsettledBalance">
    <wsdl:part name="parameters" element="tns:getAccountRemainingUnsettledBalance"/>
  </wsdl:message>
  <wsdl:message name="getAccountRemainingUnsettledBalanceResponse">
    <wsdl:part name="parameters" element="tns:getAccountRemainingUnsettledBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>