gsrc/wsi/local/nz/co/acc/plm/integration/webservices/inbound/account/AccreditedEmployerAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for nz.co.acc.plm.integration.webservices.inbound.account.AccreditedEmployerAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/inbound/account/accreditedemployerapi" name="AccreditedEmployerAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/nz/co/acc/plm/integration/webservices/inbound/AEPStatusAtDOA" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/inbound/account/accreditedemployerapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/nz/co/acc/plm/integration/webservices/inbound/account/accreditedemployerapi" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/nz/co/acc/plm/integration/webservices/inbound/AEPStatusAtDOA"/>
      <!-- getAEPStatusAtDOA(String, String) : AEPStatusAtDOA -->
      <xs:element name="getAEPStatusAtDOA">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accEmployerID" type="xs:string" minOccurs="0"/>
            <xs:element name="dateOfAccident" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAEPStatusAtDOAResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo:AEPStatusAtDOA" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/nz/co/acc/plm/integration/webservices/inbound/AEPStatusAtDOA" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="AEPStatusAtDOA">
        <xs:sequence>
          <xs:element name="PolicyAEPAtDOA" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PolicyValidForClaimsAtDOA" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PrimeEmployerACCIDAtDOA" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="AccreditedEmployerAPIPortType">
    <wsdl:operation name="getAEPStatusAtDOA">
      <wsdl:input name="getAEPStatusAtDOA" message="tns:getAEPStatusAtDOA"/>
      <wsdl:output name="getAEPStatusAtDOAResponse" message="tns:getAEPStatusAtDOAResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccreditedEmployerAPISoap12Binding" type="tns:AccreditedEmployerAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAEPStatusAtDOA">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAEPStatusAtDOA">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAEPStatusAtDOAResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccreditedEmployerAPISoap11Binding" type="tns:AccreditedEmployerAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAEPStatusAtDOA">
      <soap11:operation style="document"/>
      <wsdl:input name="getAEPStatusAtDOA">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAEPStatusAtDOAResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccreditedEmployerAPI">
    <wsdl:port name="AccreditedEmployerAPISoap12Port" binding="tns:AccreditedEmployerAPISoap12Binding">
      <soap12:address location="local:///nz/co/acc/plm/integration/webservices/inbound/account/AccreditedEmployerAPI"/>
    </wsdl:port>
    <wsdl:port name="AccreditedEmployerAPISoap11Port" binding="tns:AccreditedEmployerAPISoap11Binding">
      <soap11:address location="local:///nz/co/acc/plm/integration/webservices/inbound/account/AccreditedEmployerAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getAEPStatusAtDOA">
    <wsdl:part name="parameters" element="tns:getAEPStatusAtDOA"/>
  </wsdl:message>
  <wsdl:message name="getAEPStatusAtDOAResponse">
    <wsdl:part name="parameters" element="tns:getAEPStatusAtDOAResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>