gsrc/wsi/local/nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for nz.co.acc.plm.integration.webservice.policy.InvoiceDataAPI web service -->
<wsdl:definitions targetNamespace="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI" name="InvoiceDataAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://acc.co.nz/pc/ws/nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI" elementFormDefault="qualified" xmlns:imported="http://guidewire.com/pc/gx/nz.co.acc.plm.integration.webservice.gxmodel.policyperiodmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/gx/nz.co.acc.plm.integration.webservice.gxmodel.policyperiodmodel" schemaLocation="../../../../../../../../../nz/co/acc/plm/integration/webservice/gxmodel/PolicyPeriodModel.gx"/>
      <!-- getInvoiceData(String, String[], String[]) : PolicyPeriod[] -->
      <xs:element name="getInvoiceData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accID" type="xs:string" minOccurs="0"/>
            <xs:element name="provisionalTransactions" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="auditTransactions" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getInvoiceDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="imported:PolicyPeriod" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="EntityStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="ZeroValueInvoiceException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="InvoiceDataAPIPortType">
    <wsdl:operation name="getInvoiceData">
      <wsdl:input name="getInvoiceData" message="tns:getInvoiceData"/>
      <wsdl:output name="getInvoiceDataResponse" message="tns:getInvoiceDataResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find transaction with provided transaction ID -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- If the provided set of transactions do not satisfy invoice generation rules -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <!-- If the net invoice total is zero -->
      <wsdl:fault name="ZeroValueInvoiceException" message="tns:ZeroValueInvoiceException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceDataAPISoap12Binding" type="tns:InvoiceDataAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getInvoiceData">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getInvoiceData">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap12:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInvoiceDataResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ZeroValueInvoiceException">
        <soap12:fault name="ZeroValueInvoiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InvoiceDataAPISoap11Binding" type="tns:InvoiceDataAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getInvoiceData">
      <soap11:operation style="document"/>
      <wsdl:input name="getInvoiceData">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
        <soap11:header message="tns:gw-traceability-id" part="gw-traceability-id" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInvoiceDataResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ZeroValueInvoiceException">
        <soap11:fault name="ZeroValueInvoiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceDataAPI">
    <wsdl:port name="InvoiceDataAPISoap12Port" binding="tns:InvoiceDataAPISoap12Binding">
      <soap12:address location="local:///nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI"/>
    </wsdl:port>
    <wsdl:port name="InvoiceDataAPISoap11Port" binding="tns:InvoiceDataAPISoap11Binding">
      <soap11:address location="local:///nz/co/acc/plm/integration/webservice/policy/InvoiceDataAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getInvoiceData">
    <wsdl:part name="parameters" element="tns:getInvoiceData"/>
  </wsdl:message>
  <wsdl:message name="getInvoiceDataResponse">
    <wsdl:part name="parameters" element="tns:getInvoiceDataResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="EntityStateException">
    <wsdl:part name="EntityStateException" element="tns:EntityStateException"/>
  </wsdl:message>
  <wsdl:message name="ZeroValueInvoiceException">
    <wsdl:part name="ZeroValueInvoiceException" element="tns:ZeroValueInvoiceException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
  <wsdl:message name="gw-traceability-id">
    <wsdl:part name="gw-traceability-id" element="gwsoap:traceability_id"/>
  </wsdl:message>
</wsdl:definitions>